.logo {
    width: 250px;
    height: auto;
}

.entete {
    display: flex;
    align-items: center;
}
.entete2 {
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 1%;
}

.box {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    
}


span {
    
    font-size: 2em;

} 

a {
    color: aliceblue;
}
.box2 {
    width: 100%;
    height: 300px;
    
}   
.global {
    width: 100%;
    height: auto;
    display: flex;
}
section {
    width: auto;
    height: auto;
    justify-content: start;
    font-size: 14;
    background-color: rgb(151, 158, 177);
    font-family: 'Trebuchet MS' sans-serif, sans-serif;
}
.droite {
    width: 30%;
    height: auto;
    background-color:grey ;


}
@media screen and (max-width: 768px)
{
    h1, h2 {
       font-style: italic; 
    }

    aside {
        display: none;
    }

    section {
        width: 100%;
    }

    html {
        font-size: 75%;
    }

    .entete2 {
        flex-direction: column;
    }
}
